{% extends 'base.html' %}
{% block content %}
<!-- класс py-5 создает отступы сверху и снизу блока -->
<div class="container">
  <div class="row">
    <h1 class="text-left p-3 justify-content-center">
      {{ group }}
    </h1>
  </div>
  <div class="row">
    <h4 class="text-left p-3 justify-content-center">
      {{ group.description }}
    </h4>
  </div>
  {% for post in posts %}
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text }}</p>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
</div>  
{% endblock %}